<% I18n.locale = :en %>  
<h1>Thank you</h1>
<div class="alert alert-success font-weight-bold">
  We look forward to having you in Bologna.
</div>

<div class="alert alert-info">
  Your current data are:
  <dl class="inline">
    <% for m in [:name, :surname, :email, :birth_date, :birth_place, :birth_country, 
                 :affiliation, :position_to_s, 
                 :address, :postalcode, :city, :country, :taxid,
                 :iban, :swift, :aba] do %>  
      <dt><%= t m %></dt>
      <dd><%= attribute_to_s @repayment.send(m) %></dd>
    <% end %>
  </dl>
</div>

