<% if @arguments.any? %>
  <div class="mt-3">
    <% if @arguments.first.name == 'interdisciplinare' %>
      <div class="argument-interdisciplinare">SEMINARIO INTERDISCIPLINARE</div>
    <% else %>
      <% @arguments.each do |arg| %>
        <div class="argument"><%= arg %></div>
      <% end %>
    <% end %>
  </div>
<% end %>
