<div class="text-body-secondary">
  <% if @arguments.first.name == 'interdisciplinare' %>
    Seminario interdisciplinare
  <% else %>
    Seminario di <%= @arguments.to_a.join(", ") %>
  <% end %>
</div>
