<div class="alert fw-bold text-center border-2 border-success mt-4 text-success">
  <div class="">
    <%= dm_icon("clock", size: "xl") %><br/>
  </div>

  <span class="ms-2">
    <%= @date_string %>  
  </span>
</div>
