<h1>Topics</h1>

<div class="list-group mb-3">
  <% @arguments.each do |argument| %>
    <%= link_to argument, argument_path(argument), class: "list-group-item list-group-item-action" %>
  <% end %>
</div>

<% if user_is_manager? %>  
  <p><%= link_to_new "Aggiungi un nuovo topic presso #{current_organization.description}", new_argument_path %></p>
<% end %>
