<h1>Topics</h1>

<div class="list-group mb-3">
  <% @arguments.each do |argument| %>
    <div class="list-group-item">
      <%= link_to argument, argument_path(argument) %>
      <% if policy(argument).edit? %>  
        <%= link_to_edit edit_argument_path(argument) %>
      <% end %>
    </div>
  <% end %>
</div>

<% if user_is_manager? %>  
  <p><%= link_to_new "Aggiungi un nuovo topic presso #{current_organization.description}", new_argument_path %></p>
<% end %>
