<% repayment.object.speaker_arrival   ||= repayment.object.seminar.date %>
<% repayment.object.speaker_departure ||= repayment.object.seminar.date %>

<% startDatePossibleRepayment = user_is_manager? ? Date.today : (Date.today + Rails.configuration.repayment_deadline.days) %>  

<div class="dm-card">
  <div class="dm-card-title">
    Residenza fiscale <span class="text-danger font-weight-bold float-right">Importante, da questa scelta dipendono vari conteggi.</span>
  </div>
  <div class="dm-card-body">
    <%= repayment.input :italy, as: :radio_buttons %>
    <% unless repayment.object.seminar.on_line %>  
      <%= repayment.input :speaker_arrival,   as: :date, html5: true, hint: repayment_days_warning, 
                                              input_html: { min: l(startDatePossibleRepayment, format: :date_html5) } %>
      <%= repayment.input :speaker_departure, as: :date, html5: true, 
                                              input_html: { min: l(startDatePossibleRepayment, format: :date_html5) } %>
    <% end %>
  </div>
</div>


