<div class="dm-card">
  <div class="dm-card-title">
    Fondo <span class="float-right"><%= checked_icon(repayment.object.holder_ok?) %></span>
  </div>
  <div class="dm-card-body">
    <%= repayment.association :holder, collection: Fund.holders2, label_method: :cn_militar, include_blank: true, hint: repayment_days_warning() %>
    <% if current_user.is_admin? %>  
      <%= repayment.input :bond_number %>
      <%= repayment.input :bond_year, collection: [2018, 2019] %>
    <% end %>
  </div>
</div>

