<div class="dm-card" data-controller="refund">
  <div class="dm-card-title">
    Rimborsi 
  </div>
  <div class="dm-card-body">
    <div class="input">
      <p class="info">
        Il relatore dovrà presentare <strong>nota spese</strong> con marca da bollo da 2 &euro; allegando i documenti originali 
        comprovanti il sostenimento delle spese.<br/>
        Il rimborso spese è <strong>esente da ritenute</strong> solo se non è stata selezionata l'opzione per l'erogazione 
        del compenso onnicomprensivo.
      </p>
      <label>Richiedo rimborso spese</label>
      <%= repayment.input_field :refund, boolean_style: :inline, data: { 'refund-target': 'refundBool' }  %>
    </div>
    <div data-refund-target="refundDetails">
      <%= repayment.input :expected_refund, as: :currency_float %>
    </div>
  </div>
</div>


