<div class="alert alert-warning m-5 p-5">
  SI RICORDA CHE SE IL <strong>DOCENTE STRANIERO</strong> TRASCORRE ALMENO 3/4 GIORNI PRESSO IL DIPARTIMENTO PER ATTIVITÀ DI COLLABORAZIONE SCIENTIFICA
  È NECESSARIO COMPILARE L’APPLICATIVO DI ATENEO CHE TROVATE AL SEGUENTE INDIRIZZO:<br/>

  <p>
    <center>
      <a href="https://visiting.unibo.it" class="btn btn-outline-primary">https://visiting.unibo.it</a>
    </center>
  </p>
</div>


