@import "dm_unibo_common/variables";
@import "dm_unibo_common/dm";
@import 'dm_unibo_common/date_picker';

p.actions {
	text-align: right;
}
	
.seminar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  @extend .card;
  @extend .my-2;
  .today {
    @extend .alert;
    @extend .bg-warning;
    font-weight: bold;
    text-align: center;
  }
  .seminar-header {
    @extend .card-header;
    @extend .py-3;
  }
  .seminar-body {
    @extend .card-body;
  }
  .seminar-footer {
    @extend .card-body;
    @extend .text-muted;
  }

  .when {
    text-align: center;
    border-right: 3px solid $cyan;
  }
  .speaker {
    font-weight: bold;
  }
  .title {
    @extend .my-1;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
  }
  .notes {
    .abstract {
      font-style: italic;
      text-align: justify;
    }
  }
  .hour {
    @extend .mt-3;
  }
  .where {
    @extend .mt-1;
    @extend .mb-3;
  }
}

.actions-button {
  cursor: pointer;
}
.can_update {
  color: green;
}
.actions-popup {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  position: absolute;
  display: none;
  z-index: 1;
  width: 250px;
}

dl.cycles {
  dt {
    margin-top: 10px
  }
  dd {
    margin-left: 10px;
  }
}

#seminar_hour {
  width: 5em;
}
#seminar_minute {
  width: 5em;
}
#seminar_duration {
  width: 15em;
}

.seminar-small-info {
  @extend .pl-3;
  border-left: 3px solid $cyan;
}

table.funds {
  @extend .table;
  @extend .table-striped;
  @extend .table-sm;
  @extend .table-bordered;
  .unavailable {
    text-decoration: line-through;
  }
}
.modal-dialog {
  width: 90%;
  max-width: 1200px;
}

