@import "dm_unibo_common/variables";
@import "dm_unibo_common/dm";
@import 'dm_unibo_common/date_picker';

p.actions {
	text-align: right;
}
	
.seminar {
  @extend .row;
  @extend .mb-3;
  .when {
    @extend .col-md-3;
	 	text-align: right;
    .date {
  	  font-weight: bold;
      font-size: 120%;
    }
    .where {
      font-weight: bold;
    }
		.arguments {
		}
    .mto {
      margin-top: 10px;
    }
    .today {
      @extend .alert;
      @extend .bg-warning;
      @extend .my-3;
      @extend .mx-5;
      font-weight: bold;
      text-align: center;
    }
  }
  .what {
    @extend .col-md-9;
    @extend .card;
    padding-left: 0;
    padding-right: 0;

		.title {
      @extend .card-header;
      background-color: #d9edf7;
      color: #31708f;
      border-bottom: 2px solid #31708f;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
		}
    .content {
      @extend .card-body;
      .speaker {
        font-weight: bold;
      }
  		.abstract {
  			font-style: italic;
  			padding: 1ex 3ex;
  			text-align: justify;
  		}
    }
    .footer {
      @extend .row;
      @extend .card-footer;
      margin-left: 0;
      margin-right: 0;
      .committee {
        @extend .col-md-9;
        font-size: 12px;
      }
      .actions-and-calendars {
        @extend .col-md-3;
        text-align: right;
      }
      .fund_missing {
        @extend .text-danger;
      }
    }
  }
}

.highlight {
  @extend .row;
  .when {
    @extend .col-md-3;
	 	text-align: right;
    .date {
    }
  }
  .what {
    @extend .col-md-9;
    @extend .card;
    padding-left: 0;
    padding-right: 0;
		.title {
      @extend .card-header;
      font-weight: bold;
      text-transform: uppercase;
		}
    .content {
      @extend .card-body;
      .description {
  			font-style: italic;
  			padding: 1ex 3ex;
  			text-align: justify;
      }
    }
    .tags {
    }
  }
}

.highlight-commission {
  @extend .row;
  .proponent {
    font-weight: bold;
  }
  .commission {
    dd {
      margin-left: 10px;
    }
  }
  .commission, .proponent {
    //@include make-md-column-offset(9);
    //@include make-md-column-offset(3);
  }
}

.main-description {
  // @extend .alert;
  // @extend .alert-info;
}

dl.cycles {
  dt {
    margin-top: 10px
  }
  dd {
    margin-left: 10px;
  }
}

#seminar_hour {
  width: 5em;
}
#seminar_minute {
  width: 5em;
}
#seminar_duration {
  width: 15em;
}



table.funds {
  @extend .table;
  @extend .table-striped;
  @extend .table-sm;
  @extend .table-bordered;
  .unavailable {
    text-decoration: line-through;
  }
}

