.page-header {
  background-color: #4F7942;
  background: linear-gradient(to right, $secondary, $light); 
}
.page-header-intro a {
  color: #333;
}
h1.page-title {
  font-size: max(21px, 6vmin);
  width: 60vw;
  text-transform: uppercase;
  // letter-spacing: -3px;
  font-weight: 400;
  text-align: center;
  margin: 10vmin auto;
}
h2.page-speaker {
  margin-top: 5vmin;
  font-weight: normal;
  text-align: right;
  font-size: max(22px, 3vmin);
  width: 80vw;
  color: #222;
}
.page-notes {
  margin-top: 2vmin;
  // width: 80vw;
  // font-size: max(22px, 3vmin);
  font-weight: normal;
  text-align: right;
}
.page-details {
  margin: 10px 0;
  padding-left: 10px;
  border-left: 6px solid #4F7942;
}
.page-abstract {
  background-color: #F8F8F8;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #4F7942;
  font-style: italic;
}
.page-footer {
  text-align: right;
  font-style: italic;
}

