.page-header {
  height: 50vh;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #4F7942;
  background: #4F7942;  /* fallback for old browsers */
  background: linear-gradient(to right, #4F7942, #71B280); 
  color: #222;
  a { color: #222; }
}
.page-header-intro {
  width: 80vw;
  font-size: max(13px, 4vmin);
  font-weight: normal;
  text-align: center;
  margin: auto;
  margin: 5vmin auto;
}

h1.page-title {
  font-size: max(21px, 6vmin);
  width: 70vw;
  font-weight: bold;
  text-align: center;
  margin: 10vmin auto;
}
h2.page-speaker {
  margin-top: 5vmin;
  font-weight: normal;
  text-align: right;
  font-size: max(22px, 3vmin);
  width: 80vw;
  color: #222;
}
.page-notes {
  margin-top: 2vmin;
  width: 80vw;
  font-size: max(22px, 3vmin);
  font-weight: normal;
  text-align: right;
}
.page-details {
  margin: 10px 0;
  padding-left: 10px;
  border-left: 6px solid #4F7942;
}
.page-abstract {
  margin: 20px 0;
  background-color: #eee;
  padding: 20px;
  border: 1px solid #4F7942;
}
.page-footer {
  text-align: right;
  font-style: italic;
}

