<h1>Authorizations</h1>

<ul class="list-group my-3">
  <% @authorizations.each do |a|%>  
    <li class="list-group-item"><%= a %><span class="float-right"><%= link_to_delete authorization_path(a) %>  </li>
  <% end %>
</ul>

<div>
<%= link_to_new new_authorization_path %>  
</div>
