<%= render 'form' %>

<%= render 'where' %>  

<div class="row">
  <div class="col-md-6">
    <%= render 'seminar_documents_form' %>
  </div>
  <div class="col-md-6">
    <%= render 'seminar_repayment_button' %>  
  </div>
</div>
