<% if (! @what) || (@what == 'main') %>  
  <%= render 'form' %>
<% end %>

<% if (! @what) || (@what == 'where') %>  
  <%= render 'where' %>  
<% end %>

<% unless @what %>
  <div class="row">
    <div class="col-md-6">
      <%= render 'seminar_documents_form' %>
    </div>
    <div class="col-md-6">
      <%= render 'seminar_repayment_button' %>  
    </div>
  </div>
<% end %>
