<p class="centered" style="font-size: 200%">
  Seminario del <%= @seminar.date.year %>  
</p>

<%= render Seminar::SeminarComponent.new(@seminar, current_user) %>  

<p class="centered">
  <%= link_to 'indietro', root_path %>  
</p>

