<%= render Seminar::SeminarComponent.new(@seminar, current_user) %>  

<% if policy(@seminar).update? %>  
  <div class="row">
    <div class="col-md-6">
      <%= render 'seminar_documents_form' %>
    </div>
    <div class="col-md-6">
      <%= render 'seminar_repayment_button' %>  
    </div>
  </div>
<% end %>

<% if policy(@seminar).destroy? %>
  <div class="btn btn-danger my-4 centered">
    <%= link_to_delete 'Cancella il seminario', seminar_path(@seminar) %>
  </div>
<% end %>
