<h1>Archivio <%= @year %></h1>

<ul class="pagination justify-content-center">
  <% (2013..Date.today.year).each do |year| %>  
    <li class="<%= 'active' if (@year == year) %>"><%= link_to year, archive_highlights_path(year) %></li>
  <% end %>
</ul>

<% @highlights.each do |highlight| %>  
  <%= render highlight %>  
<% end %>

