<h1>Inserisci proposta di notizia</h1>

<p class="info">Tramite questo form si può proporre la pubblicazione
di notizie interessanti riguardanti l'attività scientifica
o accademica di membri o ex membri del Dipartimento.</p>

<%= render 'form' %>

