<h1>Luoghi</h1>

<ul>
  <% @places.each do |place| %>
    <li><%= link_to place, edit_place_path(place) %></li>
  <% end %>
</ul>

<% if policy(current_organization).manage? %>  
  <%= link_to_new new_place_path %>  
<% end %>
