<!DOCTYPE html>
<html>
  <%= render DmUniboCommon::HeaderComponent.new %>
  <body>
    <%= yield %>
    <%= render DmUniboCommon::FooterComponent.new(current_user, contact_mail: "dipmat-supportoweb@unibo.it") %>
  </body>
</html>
